body,
form,
fieldset,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
body {
    overflow-y: scroll;
}

.layout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}
.header {
    display: flex;
    background: #EF7F4D;
    min-height: 50px;
    padding: 0 15vw;
}
.logo {
    background: black;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    width: 200px;
    font-size: x-large;
}
.menu {
    display: flex;
    margin-left: auto;
}
.menu__item {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    font-size: larger;
    color: black;
}
.menu__item:hover {
    background: black;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 25px 15vw;

}
@media (max-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        margin: 25px 15vw;
    }
}

.grid__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.card {
    width: 250px;
    height: 300px;
    background: #EF7F4D;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.card__image {
    height: 120px;
    margin: auto;
}


.card__content {
    display: flex;
    flex-direction: column;
}

.card__title {
    margin: 3px auto;
    font-size: 20px;
    font-weight: 500;
}
.card__description {
    margin: 5px 10px 10px 10px;
    height: 55px;
    overflow: hidden;
}

.button {
    background: transparent;
    border: 3px solid black;
    width: 120px;
    height: 40px;
    font-size: large;
    cursor: pointer;
    margin: 5px auto;
    transition: 0.2s ease-in-out;
}

.button:hover {
    background: rgba(0, 0, 0, 0.15);
}

.footer {
    display: flex;
    justify-content: space-around;
    background: #EF7F4D;
    padding: 20px 0;
    margin-top: auto;
}

.panel {
    display: flex;
    flex-direction: column;
    position: fixed;
    left:25px;
    height: 110px;
    border-radius: 5px;
    border: 2px solid black;

    background: #EF7F4D;
    width: 260px;
    z-index: 99;
}
.panel__button {
    width: 120px
}
.panel__buttons {
    display: flex;
    justify-content: space-around;
}
.panel__title {
    font-size: 18px;
    margin:5px auto;
}
.panel__info {
    font-weight: 600;
    margin:5px auto;
}

.title {
    margin: 15px auto;
    font-size:30px;
}

.modal__background{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.3);
    display: flex;
    position: fixed;
    z-index: 999;
}

.modal {
    margin: auto;
    background: #EF7F4D;
    width: 700px;
    height:500px;
    display: flex;
    position: relative;
}

.modal__image {
    height: 300px;
    margin: auto 15px;
}
.modal__close {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.modal__close:hover {
    background: rgba(0, 0, 0, 0.15);
}

.modal__content {
    display: flex;
    flex-direction: column;
}

.modal__title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}
.modal__text{
    margin:3px 10px

}

.modal__list{
    list-style: none;
}

.error {
    margin: auto;
    color:red;
    font-size: 30px;
}
.loading {
    margin: auto;
    font-size: 30px;
}

